* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Nav-Bar */
.main-header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #0073ff;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0073ff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #6897f3;
    color: white;
}

nav ul li a:active {
    background-color: #555;
    color: white;
}

/* TítuloS */
.separador {
    box-shadow: 0 0px 10px #99c0ff;
    display: flex;
    justify-content: center;
    padding: 25px 20px;
    background: #3c87ff;
    background-image: url(gosma_lateral.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: 70px 0;
}

.separadorConteudo {
    text-align: center;
}

.separadorConteudo h2 {
    font-size: 32px;
}

.primeiroSeparador {
    margin-top: 100px;
}

/* Container 1 */
container1 {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.parte1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 80px;
    text-align: justify; 
}

.parte1 p {
    width: 600px;
    line-height: 20px;
}

.parte1 img {
    width: 500px;
}

/* Container 2 */
container2 {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.parte2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 70px;
    text-align: justify; 
}

.parte2 img {
    box-shadow: 0 0px 10px #99c0ff;
    width: 700px;
}

.textoParte2 {
    margin: auto 60px;
    font-size: 14px;
    width: fit-content;
}

.textoParte2 ul {
    margin-bottom: 20px;
}

.textoParte2 li {
    margin: 5px 25px;
    font-size: 14px;
}

.textoParte2 h2 {
    color: #0073ff;
    margin: 20px 0;
}

.equipe1ano {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.equipe2ano {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

/* Container 3 */
container3 {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.parte3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 80px;
    text-align: justify; 
}

/* Classificados */
.valores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px auto 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    background-color: white;
    box-shadow: 2px 5px 15px 2px rgb(120, 181, 255);
    width: 220px;
    height: 320px;
}

.box img {
    display: flex;
    justify-content: center;
    height: 150px;
}

.box>h5 {
    margin: 15px auto 15px;
    color: #0073ff;
    font-size: large;
}

.box>p {
    font-size: 11px;
    text-align: center;
    margin: 0px 25px;
}

/* Footer */
footer {
    background-color: #0073ff;
    padding: 15px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}