* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, white, #0088ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 680px;
}

/* Nav-Bar */
.main-header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #0073ff;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0073ff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #6897f3;
    color: white;
}

nav ul li a:active {
    background-color: #555;
    color: white;
}


/* Container, forms e button */
.container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    margin: 20px;
}

.container button {
    background-color: #0095ff;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.container form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    font-size: 13px;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
}

/* Form Login e Cadastro */
.form {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.redefinirSenha {
    left: 0;
    width: 50%;
    z-index: 2;
}

/* Mensagem Lateral */
.mensagemBotao {
    position: relative;
    top: 20px;
}

/* Alterar mensagens transições */
.painel {
    height: 100%;
    background: linear-gradient(to right, hsl(205, 100%, 66%), #0084ff);
    position: relative;
    right: 100%;
    width: 200%;
    color: white;
}

.container-painel {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    overflow: hidden;
    border-radius: 100px 0 0 100px;
    z-index: 1000;
}

.painel-direita {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
}

/* Footer */
footer {
    position: relative;
    top: 60px;
    color: white;
}