* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Nav-Bar */
.main-header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #0073ff;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0073ff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #6897f3;
    color: white;
}

nav ul li a:active {
    background-color: #555;
    color: white;
}

/* Parte principal */
container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.redicionamento {
    display: flex;
    justify-content: center;
}

.partePrincipal {
    margin: 100px 30px 50px;
    width: 1100px;
}


/* Contorno box */
.box {
    padding: 30px;
    margin: 50px auto 50px;
    border-radius: 10px;
    box-shadow: rgb(195, 215, 255) 3px 3px 10px 2px;
}

/* Título */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: linear-gradient(135deg, #bddfff 0%, rgb(116, 174, 255)  80%, #1b81ff 100%);
    box-shadow: #f0f0f0 3px 3px 10px 2px;
    color: white;
    width: 1110px;
    height: 100px;
}

/* Conteúdo box */
.box h2 {
    color: #0073ff;
    margin: 20px 30px 20px;
}

p {
    font-size: 14px;
    margin: 20px 35px 20px;
    text-align: justify;
}

.box a {
    text-decoration: none;
    color: #0073ff;
    font-weight: bold;
}

/* Tópicos */
ul {
    font-size: 14px;
    margin: 20px 70px 20px;
    text-align: justify;
}

ol {
    font-size: 14px;
    margin: 20px 70px 20px;
    text-align: justify;
}

li {
    margin: 20px auto 20px;
}

/* Indice */
.indice {
    display: flex;
    justify-items: center;
    margin: 50px 10px 50px;
}

.indice h3 {
    color: #0073ff;
    margin: 50px auto 20px;
}

.indice li {
    font-size: 12px;
    width: fit-content;
    margin: 15px 15px 15px;
}

.indice a {
    color: black;
    text-decoration: none;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 50px;
}